.grid {
    width: 1200px;
    margin: 20px auto;
    overflow: auto;
    padding: 10px 0;
}

@media (max-width: 1240px) {
    .grid {
        width: 900px;
    }
}

@media (max-width: 940px) {
    .grid {
        width: 600px;
    }
}