.gs-file{
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #cecece;
    background-color: #ffffff;
    margin: 50px 20px;
    width: 60px;
    height: 80px;
    opacity: 0.8;
}

.gs-file:nth-of-type(2){
    transform: scale(1.5);
}

.gs-file span{
    display: block;
    width: 50px;
    height: 40px;
    background-color: #00bcf2;
    margin: 5px auto;
    border-radius: 2px;
}

@media screen and (max-width:400px){
    .gs-file:nth-of-type(2){
        display: none;
    }
}

.placeholder-item {
    text-align: center;
    color: #808080;
    opacity: 0.6;
    transition: all 0.2s ease;
}

.placeholder-item:hover {
    opacity: 1;
    cursor: default;
}