.viewer-header {
    text-align: center;
    margin-bottom: 20px;
}

.viewer-header h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-weight: normal;
    color: #333333;
    margin: 0.8em;
}

.viewer {
    text-align: center;
}

.image-title {
    text-align: center;
    color: #333333;
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em;
}

.image-title:after{
    content: ' ';
    width: 60px;
    height: 10px;
    border-bottom: 2px solid #00bcf2;
    display: block;
    margin: 0 auto;
}

.nav-button {
    display: inline-block;
    background-color: #00bcf2;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid #00bcf2;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.4s ease;
    width: 140px;
    margin: 0 20px;
}

.nav-button:hover {
    background-color: #ffffff;
    color: #00bcf2;
    border-color: #00bcf2;
}

.nav-button.view-all {
    width: auto;
    padding: 10px 18px;
}