.viewer-header {
    text-align: center;
    margin-bottom: 20px;
}

.viewer-header h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-weight: normal;
    color: #333333;
    margin: 0.8em;
}

.viewer {
    text-align: center;
}

.image-title {
    text-align: center;
    color: #333333;
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em;
}

.image-title:after{
    content: ' ';
    width: 60px;
    height: 10px;
    border-bottom: 2px solid #00bcf2;
    display: block;
    margin: 0 auto;
}

.view-mode-toggle {
    border: 1px solid #c0c0c0;
    color: #808080;
    background-color: #ffffff;
    padding: 6px;
    font-size: 1.2em;
    line-height: 1em;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

.view-mode-toggle:hover {
    background-color: #34d0fc;
    color: #ffffff;
}

.view-mode-toggle:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.view-mode-toggle:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.active-view-mode {
    background-color: #34d0fc;
    color: #ffffff;
}

.fit-width {
    max-width: 100%;
}

