body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #808080;
}

* {
    box-sizing: border-box;
}

main {
    padding: 0 10px;
}

div {
    position: relative;
    display: block;
}

.app-title {
    text-align: center;
    color: #333333;
    font-size: 3em;
    font-weight: normal;
    margin: 0.25em;
}

.app-title:after{
    content: ' ';
    width: 60px;
    height: 10px;
    border-bottom: 2px solid #00bcf2;
    display: block;
    margin: 0 auto;
}

/* .grid {
    margin: 20px auto;
    width: 800px;
    padding: 20px;
    border: 2px solid #c0c0c0;
    overflow: auto;
    border-radius: 4px;
    background-color: #eeeeee;
} */

.file-drop-handler {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
